/*
 *  Draco HTML Template by @flamekaizar
 *  License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
 */



 body {
  /* background-color: black; */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(4, 6, 18) 50%), url('../img/moon.jpg'); */
  /* filter: blur(75%) saturate(50%); */

  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(4, 6, 18) 75%), url('../img/moon.jpg');
  background-size: 100%;
  background-position-y: 25%;
  background-attachment: fixed;
  /* backdrop-filter: blur(0px); */

} 

.work-list.gradientwhite {
  /* background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,212,255,0) 57%); */
  /* background-image: -webkit-linear-gradient(top, rgb(164, 237, 250) 0%, #ffffff00 70%, #ffffff00 100%); */

  background-image: -webkit-linear-gradient(top, rgb(40, 40, 51) 0%, #ffffff00 100%);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png'); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.work-list.gradientcyan {
  /* background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,212,255,0) 57%); */
  /* background-image: -webkit-linear-gradient(top, rgb(164, 237, 250) 0%, #ffffff00 70%, #ffffff00 100%); */

  background-image: -webkit-linear-gradient(top, rgb(23, 46, 38) 0%, #ffffff00 100%);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png'); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.work-list.gradientgreen {
  /* background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,212,255,0) 57%); */
  /* background-image: -webkit-linear-gradient(top, rgb(167, 250, 164) 0%, #ffffff00 70%, #ffffff00 100%); */
  
  background-image: -webkit-linear-gradient(top, rgb(39, 23, 46) 0%, #ffffff00 100%);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png'); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.work-list.gradientred {
  background-image: -webkit-linear-gradient(top, rgb(23, 29, 46) 0%, #ffffff00 100%);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png'); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.work-list.gradientblue {
  background-image: -webkit-linear-gradient(top, rgb(23, 37, 46) 0%, #ffffff00 100%);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png'); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

/*.work-list.gradientred {
  /* background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,212,255,0) 57%); */
  /* background-image: -webkit-linear-gradient(top, rgb(250, 164, 164) 0%, #fff 70%, #fff 100%); */

  /* Fallback */
  /* background-image: url('../img/sel1_bgjpg.png'); */

  /* CSS gradients */
  /* background-image: url('../img/bg.jpg'), 
  -moz-linear-gradient(top, #ADB2B6 0%, #ABAEB3 100%);
  background-image: url('../img/bg.jpg'), 
  -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3)); */
  /* background-image: url('../img/bg.jpg'), 
  linear-gradient(to bottom, #ADB2B6, #ABAEB3); */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png');
  backdrop-filter: blur(3px) saturate(0%);
  -webkit-backdrop-filter: blur(100px) saturate(0%); */
  /* backdrop-filter: blur(3px) saturate(0%);
  -webkit-backdrop-filter: blur(100px) saturate(0%); */
  /* background-blend-mode: screen; */
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */

/*
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}*/



li.activity_info {
  padding-top:5px;
}

p.activity_info_item{
  padding-right: 4%;
  display:inline;
  font-size: 11px;
}

p.activity_title{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;

  font-size: 1.1875em;
  font-weight: 700;
  text-decoration: none;
}

.activity_info_icon{
  vertical-align: middle;
  filter: invert(100%);
  width: 12px;
  height: 12px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 2px;
}

a.reset{
  text-decoration: none !important;
  font-weight: 300 !important;
  border-bottom: none !important;
  /* border-bottom: 1px solid #b3b3b3; */
  font-size: 11px !important;
}

/* .date::before{
  content: "";
  background: url("../icons/calendar.png") no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 6px;
  margin-top: 6px;
  filter: invert(100%);
  vertical-align: middle;
}

.location::before{
  content: "";
  background: url("../icons/location.png") no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 6px;
  margin-top: 6px;
  filter: invert(100%);
  vertical-align: middle;
} */





























h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  /* color: #333333;  */
  /*EDIT*/
  color: #dfdfdf; 
}

a, p, li {
  font-family: "Lato", Arial, sans-serif;
  /* color: #4e4e4e; */
  /*EDIT*/
  color: #e9e9e9;
  font-size: 1em;
  line-height: 1.75em; }

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.container {
  margin: auto;
  max-width: 662px;
  padding: 0 20px; }

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main-nav {
  /* background: #f4f4f4; */
  /*EDIT*/
  /* background: #040612; */
  background: -webkit-linear-gradient(top, rgb(4, 6, 18) 30%, #ffffff00 100%);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('../img/sel1_bgjpg.png'); */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: top 0.3s;

  /*fixed position*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 99999999;
  

  padding-top: 23px; }
  .main-nav nav ul li a {
    color: #a7a7a7; }
  .main-nav nav ul li.active a {
    color: #4d4d4d; }

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
  .section .container:after {
    position: absolute;
    content: url(../img/separator.png);
    left: 20px; }
  .section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative; }

.intro {
  padding: 95px 0px 70px 0px;
  overflow-x: hidden; }
  .intro img {
    width: 81px;
    height: 81px;
    border-radius: 99px; }
  .intro .wrap {
    margin: 30px 0px; }
  .intro h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 200px;
    z-index: -1;
    /* color: #f4f4f4;  */
    /*EDIT*/
    color: #f4f4f40e; 
    filter: blur(4px);
  
  }
  .intro h1 span {
    font-size: 47px; }

.work .work-list {
  margin-left: 0px; }
  .work .work-list li {
    list-style: none;
    font-size: 0.9375em;
    /* color: #8c8c8c;  */
    /*EDIT*/
    color: #cfcfcf; 
  
  }
    .work .work-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333; }

.award .award-list {
  margin-left: 0px; }
  .award .award-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.quote {
  background: url(../img/bg.jpg);
  padding: 20px 0px;
  margin-top: 120px; }
  .quote h1 {
    margin: 100px 0px;
    padding: 40px 20px;
    border: 5px solid #fff;
    color: #fff; }

footer {
  padding: 50px 0px 0px 0px; }
  footer .social li {
    display: inline;
    margin-left: 20px; }
    footer .social li a {
      font-size: 1.25em;
      color: #999999; }

